= form_for(@product, url: :products_set_price) do |f|
	= f.label :name, 'Product Name', :class => "control-label"
	%br 
	= f.text_field :name, :placeholder => "Name the product", :class => "control-label"
	%br 
	= f.label :original_price, 'Original Price', :class => "control-label"
	%br 
	= f.text_field :original_price, :placeholder => "Original item price?", :class => "control-label"
	%br 
	= f.label :furniture_type, 'What type of furniture are you selling?'
	%br
	= f.select(:furniture_type, options_for_select(@furniture_types))
	%br
	= f.submit "Next"






