%h3 Product Name 
= @product.name
%h3 Original Price
= @product.original_price
%br 

%h3 
= form_for(@product) do |f|
	=f.label :price, "Name your price. (Must be between $1,000 and $10,000)"
	%br 
	=f.text_field :price 
	=f.hidden_field (:name)
	=hidden_field_tag ('name')
	=f.hidden_field (:furniture_type)
	=hidden_field_tag ('furniture_type')
	=f.hidden_field (:original_price)
	=hidden_field_tag ('original_price')


	=f.submit "Next", :class => "btn btn-primary nextBtn btn-lg pull-right"

%h2 -or- 

%h3 Select a suggested price.

= form_for(@product) do |f|
	-@suggested_items.each do |item|
		=f.radio_button :price, item.price
		=f.label "#{item.name} - $#{item.price}"
		%br
		=f.label "Original Price:"  " $#{item.original_price}"
		=f.hidden_field (:name)
		=hidden_field_tag ('name')
		=f.hidden_field (:furniture_type)
		=hidden_field_tag ('furniture_type')
		=f.hidden_field (:original_price)
		=hidden_field_tag ('original_price')
		=f.hidden_field (:suggested_price)
		=hidden_field_tag ('suggested_price')
		%br


	=f.submit "Next", :class => "btn btn-primary nextBtn btn-lg pull-right"

